body{ 
	font: 14px sans-serif;
   background-color: #FFE9A5;	
}

.wrapper{ 
	width: 350px;
	padding: 20px; 
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C4C4C4;  /*this is for navbar color*/
}

li {
  float: left;
  border-right: 1px solid #FFE9A5;
}

li a {
  display: block;
  color: #FFE9A5;		/* change this to change the navbar text color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(.active){
  background-color: #dbdbdb;
}
.active {
  font-weight: bold;
  background-color: #FFE9A5;
  color: #C4C4C4;
}

li:last-child {
  border-right: none;
}

/*
	tan = #FFE9A5
	grey = #C4C4C4
	light grey= 
 
 */
